*.zwc*
.android
.bash_history
.bin/darkhttpd
.bin/tailf
.bin/z
.bypy
.cache
.config
.dbus
.fonts
.gnupg
.inputrc
.lesshst
.local
.pcs
.percol.d
.profile
.python_history
.pythonhist
.rnd
.sqlite_history
.ssh
.subversion
.termux
.tig_history
.vim
.viminfo
.vt_locations
.w3m
.wget-hsts
.zcompdump
.zhistory
app
data
f
git
mine
sdcard
site
tmp
