[user]
    name = Gore Liu
    email = goreliu@126.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
    ci = commit -a
    cm = commit -am
    co = checkout
    rmc = rm --cached
    d = diff
    dd = diff --cached
    l = log
    ls = ls-files
    b = branch
    info = remote -v
[merge]
    tool = vimdiff
[push]
    default = matching
