[user]
    name = osily 
    email = ly50247@126.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
    rb = svn rebase
    ci = commit -a
    co = checkout
    sd = svn dcommit
    rmc = rm --cached
    df = diff
[merge]
    tool = vimdiff
