.bash_history
.cache
.config
.gnupg
.inputrc
.lesshst
.lftp
.local
.profile
.python_history
.pythonhist
.scala_history
.sqlite_history
.ssh
.subversion
.vim
.viminfo
.vt_locations
.w3m
.zcompdump
.zhistory
app
git
tmp
.percol.d
.wget-hsts
.termux
mine
sdcard
