.adobe
.android
.appcfg_cookies
.appcfg_nag
.aria2
.avfs
.bash_history
book
.cache
.config/bin/sshl
.config/bin/sshl2
.config/bnac/key/pass
.config/bnac/key/user
.config/chromium
.config/dconf
.config/evince
.config/geeqie/accels
.config/geeqie/geeqierc.xml
.config/geeqie/history
.config/gtk-2.0
.config/gtk-3.0
.config/htop
.config/Kitware
.config/oxygen-gtk
.config/smplayer
.config/Trolltech.conf
.config/Ulduzsoft
.config/yad.conf
.config/Yozo
data
.dbus
doc
.dosbox
.dwm/dwm
.esd_auth
.fontconfig
.fonts
.gconf
.gimp-2.8
.gitk
.gnome2
.gnupg
.grun_history
.gstreamer-0.10
.gtkrc-2.0
.icons
.java
.jpg
.juniper_networks
.kchmviewer
.lesshst
.lftp/cwd_history
.lftp/rl_history
.lftp/transfer_log
.local
.macromedia
media
.mysql_history
.p7zip
photo
.pki
.pulse
.pulse-cookie
.pythonhist
.recently-used
.rediscli_history
.sqlite_history
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.subversion
.swapfile
.thumbnails
.thunderbird
tmp
.vifm/colors
.vifm/vifm-help.txt
.vifm/vifminfo
.viminfo
.vim
.virtualbox
.VirtualBox
.w3m
.wine
.wine-thunder
.Xauthority
.yong/history.txt
.yong/pinyin.usr
.yong/pinyin.usr.bak
.yong/user.txt
.yong/user.txt.bak
.yong/yong.ini.old
.zcompdump
.zhistory
.dia
.audacity-data
.FontForge
.snownews/cache
.snownews/error.log
.snownews/html_entities
.snownews/updatecheck
.snownews/urls.bak
.asoundrc
.asoundrc.asoundconf
