[user]
    name = Gore Liu
    email = goreliu@126.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
    ci = commit -a
    cm = commit -am
    co = checkout
    rmc = rm --cached
    d = diff
    dd = diff --cached
    l = log
    lp = log -p
    ls = ls-files
    b = branch
    info = remote -v
    u = push
    p = pull
    c = clone --depth 1
    pullup = pull upstream master
    pushup = push upstream
    addup = remote add upstream
[merge]
    tool = vimdiff
[push]
    default = matching
[gui]
    encoding = utf-8
[core]
    pager = less -x1,5
    quotepath = false
